
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactos</title>
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>
<body>
    <div id="menu" class="">
        @Html.ActionLink("Inicio", "Inicio", "Asesoria")
        @Html.ActionLink("Clientes", "Clientes", "Asesoria")
        @Html.ActionLink("Contacto", "Contactos", "Asesoria")
    </div>

    <div class="container">
        <p class="clientes">Queremos asesorarte:</p>
        <br />
        <br />
        <p>Oficinas: 1KM al sur de Mall San Pedro</p>
        <p>Teléfono: 22331122</p>
        <p>Horario: L-V: 8:00am - 5:30pm</p>
        <p>Correo: legal@asesoria.com</p>
        <br />
        <p class="outro">¿Cómo llegar?</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d982.2833619940325!2d-84.15110582615944!3d10.00583412335325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scr!4v1717012241133!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    

</body>
</html>
