
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <title>Inicio</title>
</head>
<body>
        <div id="menu" class="">
            @Html.ActionLink("Inicio", "Inicio", "Asesoria")
            @Html.ActionLink("Clientes", "Clientes", "Asesoria")
            @Html.ActionLink("Contacto", "Contactos", "Asesoria")
        </div>

        <div class="container">
            <h4>Inicio</h4>
            <p class="intro">Somos una empresa dedicada a realizar asesoría legal en los siguientes ámbitos:</p>
            <p>- Derecho Comercial</p>
            <p>- Derecho Tributario</p>
            <p>- Derecho Penal</p>
            <p>- Derecho Informático</p>
            <br />
            <div class="box">
                <p>Tenemos más de 15 años de existir en Costa Rica, nuestra historia nos respalda</p>
            </div>
        </div>
</body>
</html>
